
/*
some corrections to make Snaxter Template work with Reaction
*/

#menu-0 {
  disp__lay: none;
}

.mbr-navbar__container .reaction-navigation-header {
  width: 90%;
  /*padding-top: 10px;*/
}

div.product-variants .form-control {
  padding: 6px 12px;
}

.variant-form {
  background: #fafafa;
  border: 0;
}

.variant-form .form-control {
  border-width: 1px;
}

.variant-edit-form {
  background-color: transparent;
}
